body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fafafa;
  position: relative;
}
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  font-size: 14pt;
  &:focus {
    outline: none;
  }
}
.carousel-dots {
  margin-top: -40px !important;
}
.carousel-arrow {
  width: 30px !important;
  height: 30px !important;
  margin-top: 60px;
}
